/* Start fluid */
table input.fluid {
	width: 100% !important;
}

/* End fluid */

/* Start hierarchical-select */
div.hierarchical-select select {
	height: 25px !important;
}

.hierarchical-select-wrapper .nojs .help-text {
	display: none !important;
}
/* End hierarchical-select */

