/* Start global */
.clear-left {
	clear:left;
}

.float-right {
	float: right;
}

.display-inline {
	display:inline;
}

.my-margin-top {
	margin-top: 10px;
}

.my-margin-top-1 {
	margin-top: 15px;
}

.pane-content .view-organisation .views-label {
	font-weight: bold;
}

.hr_style {
  width: 100%;
  border: 1px soilid #ccc;
  display: block;
}


.ui-widget-content a {
	/* Avoid jquery ui theme css override */
	color: #008EB1;
}
/* End global */


/* Start find partner, find partner relationship */
#main-content > #content > .region-content > .pager {
	/* There are 2 pagers, so hide one */
	display:none;
}

form#views-exposed-form-organisation-find-partner-relationship .views-widget-filter-field_par_sector_tid {
	clear:left;
}

form#views-exposed-form-organisation-find-partner-relationship .views-submit-button {
	clear:left;
}

form#views-exposed-form-organisation-find-partner-relationship input#edit-combine {
  width: 1000px;
}
/* End find partner, find partner relationship */


/* Start find partner */
form#views-exposed-form-organisation-page-find-partner .views-widget-filter-field_org_flag_tid	{
	clear:left;	
}

form#views-exposed-form-organisation-page-find-partner input#edit-title {
	width: 1000px;
}
/* End find partner */

/* Start fluid */
table input.fluid {
	width: 100% !important;
}
/* End fluid */

/* Start hierarchical-select */
div.hierarchical-select select {
	height: 25px !important;
}

.hierarchical-select-wrapper .nojs .help-text {
	display: none !important;
}
/* End hierarchical-select */


.mybutton {	
	margin-left: 10px;
	margin-top: 1.6em;
	margin-bottom: 0;
	box-shadow: 0 1px 1px #DDDDDD;
	
	background: url("../images/buttons.png") no-repeat scroll -1px 50% #FFFFFF;
  border-color: #DDDDDD #DDDDDD #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  font-weight: normal;
  padding: 3px 10px;
  text-align: center;
	
	font-family: Verdana,Arial,sans-serif;
  font-size: 1em;

	outline: 0 none;
	vertical-align: baseline;
}

.mybutton-left {
	margin-left: 10px;
}


/* Start partner */
#edit-field-org-flag-tid-wrapper .form-item-field-org-flag-tid {
	border: 1px solid #ccc;
	padding: 3px;
}

#edit-field-org-flag-tid-wrapper .form-type-bef-checkbox {
	margin-top: -2px;
}

.primary-tabs li.first_and_last {
  border-radius: 5px !important;
}
/* End partner */

/* Start relationship */
.my-page-title {
	float: left;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 30px;
	min-height: 30px;
	text-shadow: 0 1px 0 #FFFFFF;

}

.field-collection-item-field-par-external-department .field-label,
.field-collection-item-field-par-internal-department .field-label {
	float:left;
}

/* End relationship */
