/* Start find partner, find partner relationship */
#main-content > #content > .region-content > .pager {
	/* There are 2 pagers, so hide one */
	display:none;
}

form#views-exposed-form-organisation-find-partner-relationship .views-widget-filter-field_par_sector_tid {
	clear:left;
}

form#views-exposed-form-organisation-find-partner-relationship .views-submit-button {
	clear:left;
}

form#views-exposed-form-organisation-find-partner-relationship input#edit-combine {
  width: 1000px;
}
/* End find partner, find partner relationship */


/* Start find partner */
form#views-exposed-form-organisation-page-find-partner .views-widget-filter-field_org_flag_tid	{
	clear:left;	
}

form#views-exposed-form-organisation-page-find-partner input#edit-title {
	width: 1000px;
}
/* End find partner */

/* Start fluid */
table input.fluid {
	width: 100% !important;
}
/* End fluid */

/* Start hierarchical-select */
div.hierarchical-select select {
	height: 25px !important;
}

.hierarchical-select-wrapper .nojs .help-text {
	display: none !important;
}
/* End hierarchical-select */

